EXPO_PUBLIC_SUPABASE_URL=https://uirbiaursigeohaarrua.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
EXPO_PUBLIC_MONNIFY_MODE=TEST
EXPO_PUBLIC_MONNIFY_API_KEY=
EXPO_PUBLIC_MONNIFY_CONTRACT_CODE=
MONNIFY_MODE=TEST
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
