EXPO_PUBLIC_SUPABASE_URL=https://uirbiaursigeohaarrua.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
QUICKTELLER_MODE=TEST
QUICKTELLER_MERCHANT_CODE=
EXPO_PUBLIC_QUICKTELLER_MODE=TEST
EXPO_PUBLIC_QUICKTELLER_MERCHANT_CODE=
EXPO_PUBLIC_QUICKTELLER_PAY_ITEM_ID=
EXPO_PUBLIC_QUICKTELLER_CURRENCY_CODE=566
EXPO_PUBLIC_FLUTTERWAVE_PAYMENT_URL=
